# dirs
01_sim/**/*.txt
sim_build/

# file types
__pycache__
*.fst
*.xml
*.vcd
*.wpc
*.lpr
*.veo
*.str
*.jou
*.log
*.ui
*.hwh
*.bda
*.bxml
*.html
*.debug
*.zip
*.Xil
*.dll
*.so
*.cc
*.protoinst
*.hwdef
*.dcp
*.xpr
*.bkp

# vivado project files
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.ioplanning/

# vscode
.vscode